body {
  font-family: 'Open Sans', sans-serif;
}
/*slider*/
.site-header {
  background: #222;
  overflow: hidden;
  position: relative;
  height: 800px;
}
iframe {
    z-index: 2 !important;
}
.video-overlay {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background: #000;
  opacity: 0.5;
}
.site-header .content {
  position: absolute;
  text-align: center;
  padding: 50px 0;
  color: #fff;
  font-size: 48px;
  text-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-transform: uppercase;
  bottom: 50%;
  left: 30%;
  z-index: 99999;
}

.site-content {
  padding: 40px 0;
  text-align: center;
}
.site-header .content h1 {
    font-weight: 700;
    font-size: 45px;
    color: #f1f1f1;
}
.site-header .content h4 {
    font-weight: 700;
    font-size: 26px;
    color: #f1f1f1;
}
/*inner section*/

.wel-txt p span {
    font-size: 20px;
    font-weight: 600;
}
/*form*/
input[type=text], input[type=password], input[type=tel] {
  width: 100%;
  padding: 8px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}
.signupbtn {
  background-color: #24C3C6;
  color: #000;
  padding: 8px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 22px;
  font-weight: 600;
}

.signupbtn:hover {
  opacity: 1;
}
form {
    border: 1px solid #ff1a80;
	padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
.con-form {
    background: #B20E57;
    padding: 15px;
    color: #fff;
	position: absolute;
    top: -200px;
	z-index: 9;
	width: 90%;
}
.con-form h2, .con-form h3 {
    text-align: center;
}
.con-form h2 {
    font-weight: 600;
    font-size: 28px;
}
.con-form h3{
	 font-size: 21px;
}
.sec-a {
    padding: 117px 0px;
	background: #FFF0F7;
}
.wel-txt {
    color: #010654;
}
.wel-txt p {
    font-size: 16px;
	line-height: 25px;
}
/*sec-b*/
.sec-b {
    background: url(bg-01.png);
    background-size: cover;
	padding-top: 50px;
}
.sec-b-img img {
    width: 100%;
}
.sec-b-tit {
    
	padding: 55px 0px 0px 0px;
}
.sec-b-txt h4 {
    font-size: 20px;
}
.sec-b-tit h3 {
    font-weight: 700;
    color: #010654;
}
.sec-b-txt h4 {
    font-size: 21px;
    color: #000333;
    line-height: 34px;
    margin: 0;
}
.sec-b-img {
    text-align: center;
}

/*sec-c*/
.sec-c {
   padding: 70px 0px;
   background: url(bg-02.png);
   background-size: cover;
}
.sec-c-img img {
    width: 80%;
}
 
 
.sec-c-txt h4 {
    font-size: 20px;
}
.sec-c-txt h3 {
    font-weight: 700;
    color: #000333;
    font-size: 35px;
}
.sec-c-txt h5 {
    font-size: 21px;
    font-weight: 700;
}
.sec-c-txt h4 {
    font-size: 21px;
    color: #000333;
	line-height: 34px;
}
.sec-c-img p a {
    background: #BB1515;
    color: #fff;
    padding: 8px 96px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 8px;
}
.sec-c-img p {
    margin-top: 35px;
    margin-bottom: 0;
}
.sec-c-img {
    text-align: center;
}
.sec-d {
    padding: 50px 0px;
    background: #F6F6F6;
}
.sec-d h2 {
    font-weight: 700;
    color: #000661;
    text-align: center;
    margin-bottom: 20px;
}
.sec-d1-txt h3, .sec-d2-txt h3, .sec-d3-txt h3 {
	font-size: 22px;
    color: #4E4E4E;
    font-weight: 600;
	margin-top: 10px;
	margin-bottom: 10px;

}
.sec-d1-txt h3 a, .sec-d2-txt h3 a, .sec-d3-txt h3 a {

    color: #4E4E4E;
	text-decoration: none;
}
.sec-d1-txt img, .sec-d2-txt img, .sec-d3-txt img,.sec-d4-txt img {
    width: 100%;
}
.busi { padding-left: 15px;border-bottom-style: solid;
  border-bottom-color: #B20E57; }
  .busi p{ font-size: 17px; }
  .busi p a {
    font-size: 17px;
    text-decoration: none;
    color: unset;
}
  .busi1 {padding-left: 15px;}
  .busi1 p { margin-top: 15px;font-size: 17px;font-weight: 600;margin-bottom: 5px; }
  .busi1 p span { display: block; }
  .tec { margin-top: 30px; }

.sec-d1-txt {
	
    background: #FFFFFF;
    
	color: #4E4E4E;
	padding: 0px 0px 0px 0px;
}
.sec-d2-txt {
	
    background: #FFFFFF;
    
	color: #4E4E4E;
	padding: 0px 0px 0px 0px;

}
.sec-d3-txt {
	
    background: #FFFFFF;
    
	color: #4E4E4E;
	padding: 0px 0px 0px 0px;

}
.sec-d4-txt {
    
    background: #FFFFFF;
    color: #4E4E4E;
    padding: 0px 0px 0px 0px;

}
.enroll p {
    text-align: center;
    margin-top: 30px;
}
.enroll p a {
    background: #BB1515;
    color: #fff;
    padding: 8px 75px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 8px;
}
.sec-h
{
    padding: 55px 0px 55px 0px;
    background:#B20E57;
}
/*sec-e*/
.sec-e {
    padding: 60px 0px;
}
.ea-indi h2 {
    font-weight: 700;
    color: #000333;
    font-size: 35px;
}
.ea-indi h4 {
    font-size: 18px;
    color: #000333;
    line-height: 35px;
	margin-bottom: 0;
}
.ea-img img {
    width: 100%;
    opacity: 0.7;
}
.ea-img {
    position: absolute;
    bottom: -30px;
}
.emp-img img {
    width: 100%;
}
.emp-txt th {
    vertical-align: baseline;
}
.emp-txt th, .emp-txt td {
    padding: 5px;
    font-size: 15px;
	color: #000333;
}
.emp-tit h2 {
    font-weight: 700;
    color: #000333;
    font-size: 35px;
}
.comp-tit h2 {
    font-weight: 700;
    color: #000333;
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
}
.pro-1 img, .pro-2 img, .pro-3 img, .pro-4 img {
    width: 100%;
}
.pro-1, .pro-2, .pro-3, .pro-4 {
    text-align: center;
}
.pro-1 h4, .pro-2 h4, .pro-3 h4, .pro-4 h4{
	font-size: 16px;
    margin-top: 10px;
	font-weight: 700;
    color: #025240;
}
.pro-1 h4:hover, .pro-2 h4:hover, .pro-3 h4:hover, .pro-4 h4:hover{color: #000333;}
.padd-rht {
    padding-right: 0;
}
.col-md-6.padd-lft {
    padding-left: 0;
}
.pro-1 {
    padding-left: 10px;
    padding-right: 5px;
}
.pro-2 {
    padding-right: 10px;
    padding-left: 5px;
}
.pro-3 {
    padding-left: 10px;
    padding-right: 5px;
}
.pro-4 {
    padding-left: 5px;
    padding-right: 10px;
}
.expo-logo {
    text-align: center;
}
.expo-tit {
    text-align: center;
    padding-top: 32px;
}
.expo-inn {
    padding: 5px 0px 45px 0px;
    background: #02075aad;
}
.expo-logo img {
    width: 50%;
}
.expo {
    background: url(bg-03.jpg);
    background-size: cover;
}
.expo-tit h3, .expo-tit h5 {
    font-weight: 700;
    color: #cacacafa;
}
.expo-tit h6 {
    color: #dadada;
    font-weight: 600;
    padding-top: 15px;
    font-size: 18px;
}
.mob-logo img {
    width: 22%;
	float: right;
}
.mob-logo h2 {
    font-weight: 700;
    font-size: 34px;
	line-height: 34px;
	color: #000333;
}
.mob-logo h2 span {
    display: block;
}
.mob-out {
    background: url(bg-04.jpg);
    background-position: center;
    background-size: cover;
}
.mob-out-inn {
    background-color: #f4f2f2ba;
    padding: 50px 15px;
}
.mo-tit h5 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
	color: #22182b;
	margin-top: 20px;
}
.sec-f {
    background: #f2f1f1;
    padding: 60px 0px;
}
.view-mre p a {
    background: #BB1515;
    color: #fff;
    padding: 4px 20px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
}
.view-mre p {
    margin-top: 20px;
    text-align: center;
}
.mob-out-inn .view-mre p {
    margin-top: 25px;
    margin-bottom: 0;
    text-align: left;
} 
.pro-a {
    padding-top: 10px;
    background: #d8d7d3;
}
.pro-b {
    padding-top: 10px;
    background: #d8d7d3;
}
.ui-logo {
    text-align: center;
}
.ui-logo h5 {
    font-size: 13px;
    text-align: right;
    color: #cf4607;
    font-weight: 600;
}
.ui-logo {
    padding: 8px 0px 0px 0px;
}
.ui-logo h4 {
    color: #b7090a;
    font-weight: 600;
}
.ui-logo h4 span {
    display: block;
    color: #0a903e;
}
.ui-img{
	text-align: center;
}
.ui-img img{
	width:100%
}
.ui-sec {
    margin-top: 20px;
    background: #d8d7d3;
}
/*scrolling Animation*/
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-duration: 2s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeftBig {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeftBig {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 

/* MY CSS */
.sec-h h2 {
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.hov { display: none; }
#mpad:hover .busi1 {transition: all 1.5s ease;}
#mpad { position: relative; }
#mpad1 { position: relative; }
.hov { position: absolute; top:40%;left:25%; }
#mpad:hover #im { transition: all 1.5s ease; }
#mpad:hover .hov{ display: block;transition: all 1.5s ease; }
.hov p { padding: 10px;border: 1px solid #B20E57;color: #000;opacity: 1;font-weight: 600;text-align: center; }
.hov p a { color: unset;text-decoration: none;}
.busi1 a {
    color: unset;
    text-decoration: none;}
    span.cmpany-pro {
    font-style: italic;
}
.hov2 { display: none; }
#mpad1:hover .busi {transition: all 1.5s ease;}
#mpad1 { position: relative; }
#mpad1 { position: relative; }
.hov2 { position: absolute; top:40%;left:30%; }
#mpad1:hover #im1 { transition: all 1.5s ease; }
#mpad1:hover .hov2{ display: block; transition: all 1.5s ease;}
.hov2 p a { padding: 10px;border: 1px solid #B20E57;color: #000;opacity: 1;font-weight: 600;text-align: center; text-decoration: none; }


/*footer*/
footer {
    background: #585858;
    color: #fff;
    padding: 40px 0px;
}
.foo-mail p {
    margin-bottom: 0;
}
.foo-mail a {
    text-decoration: none;
    color: #fff;
}
.cpy-right p {
    margin-bottom: 0;
}
.cpy-right a{
     text-decoration: none;
    color: #fff;
}
.cpy-right {
    text-align: center;
    font-size: 14px;
}
.foo-1 h4, .foo-2 h4, .foo-3 h4 {
    font-size: 15px;
    font-weight: 600;
}
.foo-2 li, .foo-3 li {
    list-style: none;
    font-size: 15px;
    line-height: 26px;
}
.foo-2 ul, .foo-3 ul {
    padding: 0;
}
.foo-2 li a, .foo-3 li a {
    text-decoration: none;
    color: #fff;
}
.foo-mail img {
    width: 20px;
    margin-right: 10px;
}
/*hover-effect*/
.sec-d1-img, .sec-d2-img, .sec-d3-img {
    transition: all 1.5s ease;
}
.busi {
    position: absolute;
    bottom: 0;
    width: 92%;
    background: #f7f7f79e;
}
.sec-d1-img:hover, .sec-d2-img:hover, .sec-d3-img:hover {
   /* box-shadow: 1px 1px 1px 1px #cfcfcf;*/
    transition: all 1.5s ease;
}
.sec-d4-img:hover  {
   /* box-shadow: 1px 1px 1px 1px #cfcfcf;*/
}
#mpad1, #mpad {
    transition: all 1.5s ease;
}
.busi1 {
    position: absolute;
    bottom: 0;
    background: #ffffff94;
    width: 92%;
}
.sec-d4-img:hover {
    background: #fff;
}
/*media Query*/
@media (max-width: 1024px){
.sec-b-tit {
    padding: 0px 0px 0px 0px;
}

.mob-logo h2 span {
    display: unset;
}
.mob-logo h2 {
font-size: 30px;}
.mo-tit h5{margin-top: 0px;}
.ui-logo img {
    width: 50%;
}
.mob-out-inn .view-mre p {
margin-top: 8px;}
}
@media (max-width: 768px){
.sec-b-tit h3 {
    font-size: 20px;
}
.sec-b-txt h4 {
    font-size: 16px;
    line-height: 25px;
}
.sec-c-txt h3 {
    font-size: 20px;
}
.sec-c-txt h5 {
font-size: 18px;}
.sec-c-txt h4 {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0;
}
.sec-c-img p a {
padding: 8px 50px;}
.sec-d1-txt h3, .sec-d2-txt h3, .sec-d3-txt h3,.sec-d4-txt h3 {
font-size: 18px;}
.col-md-7.col-sm-7.col-xs-12.res {
    max-width: 100%;
    flex: 1;
}
.ea-img {
    position: unset;
    bottom: unset;
}
.ea-indi h2, .emp-tit h2{font-size:20px;}
.comp-tit h2 {
font-size: 24px;}
.mob-logo h2 {
    font-size: 20px;
}
.ea-indi h4 {
font-size: 16px;}
.mo-tit h5 {
    font-size: 14px;
line-height: 23px;}
.ui-logo {
    padding: 18px 0px 18px 0px;
}
.sec-d h2 {
    margin-bottom: 15px;
    font-size: 24px;
}
.sec-a {
padding: 42px 0px;}
.sec-b{padding-top: 30px;}
.sec-c, .sec-d, .sec-e, .sec-f {
padding: 30px 0px;}
form {
    padding-top: 10px;
    padding-bottom: 10px;
}
.con-form{padding: 10px;top: -220px;}
}
@media (max-width: 767px){
	.con-form h3 {
    font-size: 14px;
}
.con-form h2 {
    font-size: 16px;
}
input[type=text], input[type=password], input[type=tel] {
    padding: 3px 3px;
    margin: 5px 0 5px 0;
    font-size: 14px;
}
.con-form hr {
    margin: 5px 0px;
}
.wel-txt {
    text-align: center;
}
.signupbtn{padding: 4px;font-size: 14px;}
.con-form{width: 100%;position: unset;}
.sec-b-txt {
    text-align: center;
}
.sec-b-txt h4 {
    font-size: 12px;
    line-height: 20px;
}
.sec-c-txt h3 {
    font-size: 16px;
}
.sec-c-txt h5 {
    font-size: 14px;
}
.sec-c-txt h4 {
    font-size: 12px;
line-height: 20px;}
.sec-c-txt {
    text-align: center;
}
.sec-c-img p a {
    padding: 6px 24px;
    font-size: 14px;
}
.sec-c-img p {
margin-top: 20px;}
.sec-d1-txt h3, .sec-d2-txt h3, .sec-d3-txt h3 {
    font-size: 14px;
	margin: 5px 0px;
}
.sec-d1-txt p, .sec-d2-txt p, .sec-d3-txt p{
    font-size: 12px;
}
.sec-d1-txt {
    padding: 10px 0px 10px 0px;
    text-align: center;
}
.sec-d2-txt {
    padding: 10px 0px 42px 0px;
    text-align: center;
}
.sec-d3-txt {
    padding: 10px 0px 27px 0px;
    text-align: center;
}
.ea-indi h2, .emp-tit h2 {
    font-size: 14px;
}
.ea-indi h4 {
    font-size: 12px;
line-height: 22px;}
.emp-txt th, .emp-txt td {
    padding: 3px;
font-size: 12px;}
.sec-d h2 {
    margin-bottom: 10px;
    font-size: 18px;
}
.comp-tit h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.expo-tit h3, .expo-tit h5 {
    font-size: 14px;
    margin-bottom: 5px;
}
.expo-tit h6 {
    padding-top: 5px;
    font-size: 12px;
}
.pro-1 h4, .pro-2 h4, .pro-3 h4, .pro-4 h4 {
font-size: 12px;}
.mo-tit h5 {
    font-size: 12px;
    line-height: 20px;
}
.mob-logo h2 {
    font-size: 14px;
    margin-bottom: 0;
}
.view-mre p a {
    font-size: 12px;
}
.mob-out-inn {
    padding: 10px 10px;
    text-align: center;
}
.mob-logo img {
    width: 20%;
    float: unset;
}
.mob-out-inn .view-mre p {
    margin-top: 0px;
    text-align: center;
}
.ui-logo {
    padding: 15px 0px 15px 0px;
}
.enroll p a{padding: 6px 35px;font-size: 14px;}
.enroll p {
    margin-top: 12px;
}
footer {
    padding: 20px 0px;
    text-align: center;
}
.cpy-right a {
    display: block;
}
}
@media (max-width: 500px){
.video-overlay {
  position: unset;}
	.sec-a {
    padding: 20px 0px;
}
.sec-b-txt {
    text-align: center;
    padding-bottom: 20px;
}
.sec-c, .sec-d, .sec-e, .sec-f {
    padding: 15px 0px;
}
.sec-d h2 {
    margin-bottom: 0px;
    font-size: 18px;
}
.sec-h h2 {
    margin-bottom: 0px;
    font-size: 18px;
}
.wel-txt {
    padding-top: 20px;
    text-align: center;
}
.wel-txt p span {
    font-size: 16px;}
    .wel-txt p {
    font-size: 14px;}
.sec-b {
    padding-top: 0px;
}
.sec-b-txt h4 , .sec-c-txt h4{
    font-size: 12px;
    line-height: 20px;
}
.con-form{
	position: unset;
    top: unset;
}
.sec-b-tit h3, .sec-c-txt h3 {
    font-weight: 700;
    font-size: 14px;
}
.sec-b, .sec-c{text-align: center;padding-bottom: 20px;}
.no-pad {
    padding: 10px;
}
.sec-d1-txt h3, .sec-d2-txt h3, .sec-d3-txt h3 {
    font-size: 14px;
}
.sec-d1-txt, .sec-d2-txt, .sec-d3-txt{
	padding: 45px 0px;
}
.sec-h {
    text-align: center;
      padding: 20px 0px 20px 0px;
}
.sec-c-img img {
    width: 40%;
}
.sec-d1-txt, .sec-d2-txt, .sec-d3-txt {
    padding: 20px 10px;
}
.sec-d1-txt img, .sec-d2-txt img, .sec-d3-txt img {
    width: 100%;
}
.emp-img {
    text-align: center;
}

.emp-img img {
    width: 40%;
}
.emp-tit {
    text-align: center;
}
.ea-img {
    text-align: center;
}
.ea-indi {
    text-align: center;
}
.expo-tit {
    padding-top: 0px;
}
.pro-1 img, .pro-2 img, .pro-3 img, .pro-4 img {
    width: 100%;
}
.pro-1 h4, .pro-2 h4, .pro-3 h4, .pro-4 h4 {
    font-size: 12px;
}
.col-md-6.col-sm-6.col-xs-6.padd-rht {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-md-6.col-sm-6.col-xs-6.padd-lft {
    flex: 0 0 50%;
    max-width: 50%;
}
/*.padd-rht {
    padding-right: unset;
}
.pro-1 {
    padding-left: 10px;
    padding-right: 10px;
}
.padd-rht {
    padding-right: 15px;
}
.col-md-6.padd-lft {
    padding-left: 15px;
}
.pro-2 {
    padding-right: 10px;
    padding-left: 10px;
} */
.site-header .content {
    position: absolute;
    text-align: center;
    padding: 0px;
    color: #fff;
    font-size: 48px;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-transform: uppercase;
    top: 15% !important;
    left: 30% !important;
    z-index: 99999;
}
.site-header .content h1 {
    font-weight: 800;
    font-size: 10px !important;
    color: #f1f1f1;
}
.site-header {
    background: #222;
    overflow: hidden;
    position: relative;
    height: auto;
}
iframe {
    width: 425px !important;
    height: 239.063px !important;
    position: unset !important;
    margin-top: unset !important;
}
.foo-2 {
    margin-top: 10px;
}
.hov {
    left: 22%;
}
.busi {
    position: absolute;
    bottom: 28px;
    width: 90%;
    background: #f7f7f79e;
}
.busi1 {
    position: absolute;
    bottom: 10px;
    background: #ffffff94;
    width: 95%;
}
}
@media (max-width: 375px){
	iframe {
    width: 375px !important;
    height: 210.938px !important;
    position: unset !important;
    margin-top: unset !important;
}
.hov {
    left: 20%;
}
.busi {
    position: absolute;
    bottom: 28px;
    width: 89%;
    background: #f7f7f79e;
}
}

@media (max-width: 320px){
iframe {
    width: 320px !important;
    height: 180px !important;
    position: unset !important;
    margin-top: unset !important;
}
.hov {
    left: 15%;
}
.busi {
    position: absolute;
    bottom: 28px;
    width: 87%;
    background: #f7f7f79e;
}
.busi1 {
    position: absolute;
    bottom: 10px;
    background: #ffffff94;
    width: 94%;
}
}
div#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(51, 51, 51, 0.2);
    z-index: 100000;
    display: none;
    background-image: url("../images/loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 86px;
}