/*body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

input[type=text], input[type=password],textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
} */

/*.container {
  padding: 16px;
}*/
/*.submit button
{
	text-align: center;
} */
/*Home-Page */
.header-top img {width: 18%;float: left;margin-right: 10px;}
.header-top-inn {text-align: left;}
.qut-txt {text-align:center;}
.header-top-inn h1 {font-size: 32px;font-weight: 600;color: #1a2046;line-height: 32px;margin-bottom: 0;margin-top: 0;}
.header-top-inn span {display: block;font-size: 18px;font-weight: 400;color: #EE2A85;}
.scroll{border-top: 5px solid #EE2A85;padding-top: 10px;}
.qut-txt h3 {margin-top: 0px;font-weight: 600; color:#1a2046;}
.qut-txt h4{font-weight: 600;color:#1a2046;}


/*Footer*/
.foo-txt {text-align: center;}
.foo-txt h5 {font-size: 16px;font-weight: 600;color:#1a2046;}
.foo-txt a {text-decoration: none;color: #1a2046;margin-bottom: 5px;}
footer.page1 {padding: 50px 0px 10px 0px;}
.foo-inn-pg a {text-decoration: none;color: #1a2046;margin-bottom: 5px;}
.foo-inn-pg .header-top img {width: 25%;float: left;margin-right: 10px;}
/*Inner Page Design*/
button.pre-btn {background: none;box-shadow: none;border: none;padding: 0px 0px;text-align: left;}
.pre-btn img {width: 50%;}
.page-1 .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
color: #fff;background-color: #EE2A85;border-color: #EE2A85;}
.page-1 button.btn.btn-success {background: #EE2A85;border: none;width: 30%;}
.page-1{text-align:center;}
hr.line-1 {margin: auto;width: 100%;border: 1px solid #dedede61;}
.link-buuton-1 {padding: 10px 0px;}
.link-buuton-2 {padding: 10px 0px;}
.page-1 h4 {margin-top: 30px;margin-bottom: 20px;color: #ee2a85;font-weight: 600;}
.page-2 label {display: block;max-width: 100%;margin-bottom: 5px;font-weight: 600;}
.page-2 input[type=text], input[type="number"]{width: 30%;padding: 0px;margin: 5px 0 15px 0;display: inline-block;border: 1px solid #cecece8f;
background: none;height: 30px;}
.lab-A-01 input[type="text"] {margin-left: 37px;}
.lab-A-04 input[type="text"] {margin-left: 68px;}
.lab-A-05 input[type="text"] {margin-left: 74px;}
.lab-A-06 input[type="text"] {margin-left: 40px;}
label.lab-07 {margin-bottom: 12px;}
.page-2 a:focus, a:hover {color: #bd0f3d;text-decoration: none;}
.page-2 a {color: #bd0f3d;text-decoration: none;}
button.registerbtn {background-color: #1a2046;color: white;padding: 6px 0px;margin: 8px 0;border: none;cursor: pointer;width: 40%;text-align: center;font-size: 18px;}
.page-2 h1 {font-size: 28px;font-weight: 600;color: #1a2046;margin-bottom: 0;text-align: center;}

/*Page Loder*/
#loader {position: absolute;left: 50%;top: 50%;z-index: 1;width: 120px;height: 120px;margin: -75px 0 0 -75px;border: 16px solid #f3f3f3;border-radius: 50%;
border-top: 16px solid #EE2A85;width: 120px;height: 120px;-webkit-animation: spin 2s linear infinite;animation: spin 2s linear infinite; text-align:center}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}




@media only screen and (max-width: 425px){
.page-2 input[type=text], input[type="number"] {width: 100%;}
.lab-A-01 input[type="text"] {margin-left: unset;}
.lab-A-04 input[type="text"] {margin-left: unset;}
.lab-A-05 input[type="text"] {margin-left: unset;}
.lab-A-06 input[type="text"] {margin-left: unset;}
.page-1 button.btn.btn-success {width: 80%;}
.but-cen{text-align:center;}
.by-txt{text-align:center;}
h1.emp-reg {font-size: 27px;}
}
@media only screen and (max-width: 375px){
.page-2 h1 { font-size: 24px; }
h1.emp-reg {font-size: 20px;}
}
@media only screen and (max-width: 320px){
.page-2 h1 { font-size: 20px; }
h1.emp-reg {font-size: 18px;}
}
