/*-------------------------
    Simple reset
--------------------------*/


*{
    margin:0;
    padding:0;
}


/*-------------------------
    General Styles
--------------------------*/


/*html{
    background-color:#ebebec;

    background-image:-webkit-radial-gradient(center, #ebebec, #b4b4b4);
    background-image:-moz-radial-gradient(center, #ebebec, #b4b4b4);
    background-image:radial-gradient(center, #ebebec, #b4b4b4);

    min-height:900px;
}*/

body{
    font:15px/1.3 Arial, sans-serif;
    color: #4f4f4f;
}

/*a, a:visited {
    outline:none;
    color:#389dc1;
}*/

a:hover{
    text-decoration:none;
}

section, footer, header, aside{
    display: block;
}


/*----------------------------
    The file upload form
-----------------------------*/


.upload{
    font-family:'PT Sans Narrow', sans-serif;
    /*background-color:#373a3d;*/
    background-color:#F8F8F8;

   
   /* width:250px;*/
    padding:30px;
    border-radius:3px;

   /* margin:200px auto 100px;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
}

#drop, .drop{
    background-color: #ffffff;
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
   /* border-image: url('../img/border-image.png') 25 repeat;*/
    text-align: center;
  /*  text-transform: uppercase;*/

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a,.drop a{
    /*background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;*/
    /*margin-top:12px;
    line-height:1;*/
}

#drop a:hover,.drop a:hover{
    background-color:#0986a3;
}

#drop input,.drop input{
    display:none;
}

.upload ul{
    list-style:none;
    margin:0 -30px;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
}

.upload ul li{

    margin: 10px 0;
   
    width: calc(100% / 3);
    display: inline-block; 
    /*background-color:#333639;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;*/
    padding:15px;
    /*height: 75px;*/
    position: relative;
}

#upload ul li input{
    display: none;
}

.upload ul li p{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.49);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    /*position: absolute;
    top: 20px;
    left: 100px;*/
}

.upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

.upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

.upload ul li h6
{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    text-align: center; 
}

.upload ul li h6
{
    margin: 0 auto;
    width: 150px;
}
.upload ul li h6 img
{
	width: 150px;
}
.upload ul li h5
{
	width: 100%;
    text-align: center;
    color: #3a0f0f;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}

.make_this_bot
{
	display: block;
	width: 100%;
}

.upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 20px;
    right: 50px;
    cursor:pointer;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    
}

.upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

.upload ul li.error p{
    color:red;
}




/*----------------------------
    The Demo Footer
-----------------------------*/


footer{
    background-color: #080808;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
    height: 40px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
}

footer h2{
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top:0;
    left: 50%;
    bottom:0;
    margin-left: -420px;
    padding:13px 20px 0;
    border:1px solid #000;
    border-width:0 1px;
    background-color:rgba(0,0,0,0.6);
    box-shadow:0 0 5px #000 inset;
    line-height: 1;
    margin-top: 0;
}

footer h2 a{
    color: #EEEEEE !important;
    text-decoration:none !important;
}

footer h2 i{
    font-style:normal;
    color:#888;
}

#tzine-download{
    opacity:0.9;
    background-color:#257691;
    font-size:11px;
    text-align:center;
    text-transform:uppercase;
    width:150px;
    height:28px;
    line-height:28px;
    text-decoration:none !important;

    display: inline-block;
    border-radius: 2px;
    color: #fff !Important;
    font-weight: bold;
    box-shadow: 0 -1px 2px #1e5e74 inset;

    border-top:1px solid #26849c;

    text-shadow:1px 1px 1px #1e6176;
    margin-top:6px;
}

#tzine-download:hover{
    opacity:1;
}

#tzine-actions{
    position:absolute;
    top:0;
    width:500px;
    right:50%;
    margin-right:-420px;
    text-align:right;
}

#tzine-actions iframe{
    display: inline-block;
    height: 21px;
    width: 95px;
    position: relative;
    float: left;
    margin-top: 11px;
}

.upload ul li span:hover {
    background-position: bottom;
}
.form-control
{
	height: auto !important;
}
.margin
{
	margin-top:10px;
}