
.nopad
{
	padding: 0px !important;
}
.nopad_l
{
	padding-left: 0px !important;
}
.nopad_r
{
	padding-right: 0px !important;
}.widget_frame
{
	margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #c3c3c3;
}
.widget_header
{
	    background: linear-gradient(to bottom, #05447b 0%, #085498 74%, #083c6b 99%, #01437F 100%);
}
.widget_header h3
{
	margin: 0px;
    font-family: 'Raleway', sans-serif !important;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding: 15px 0px;
}
.widget_content
{
	margin-top: 20px;
    margin-bottom: 20px;
}
.input_holder
{
	height: 35px;
    width: 100%;
    border: 1px solid #bfbfbf;
    padding-left: 5px;
		margin-bottom: 20px;
		font-family: 'Open Sans', sans-serif;
}
.label_holder
{
	font-family: 'Raleway', sans-serif !important;
    font-size: 14px;
    color: #5d5c5c;
}
.textarea_holder
{
	height: 100px;
    width: 100%;
    border: 1px solid #bfbfbf;
    padding-left: 5px;
    margin-bottom: 20px;
}
.wid_btn_holder
{
	text-align: right;
}
.comp_btn
{
	background: linear-gradient(to bottom, red, #e26161, red);
    color: #fff;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700;
    font-size: 18px;
}
.navbar
{
	background: linear-gradient(to bottom, #05447b 0%, #085498 74%, #083c6b 99%, #01437F 100%) !important;
}
.navbar-brand
{
	font-family: 'Raleway', sans-serif !important;
    color: #fff !important;
    font-weight: 800;
    font-size: 25px;
}
.nav-user-photo
{
	width: 35px;
    border-radius: 50%;
}
.user-info
{
	color: #fff;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
}
.table_ncp
{
	font-family: 'Raleway', sans-serif !important;
    font-size: 13.5px;
    font-weight: 600;
}
.nav>li>a:hover
{
	background-color: transparent;
}
.nav>li>a:focus
{
	background-color: transparent !important;
}
.login
{
	font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 100;
    padding: 15px;
}
.widget-body
{
	background-color: transparent !important;
}
.widget-main
{
	background-color: transparent !important;
}

.inner_box_frame {
    background: #fbfbfb;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 1px 1px #efefef;
    padding: 10px;
    text-align: center;
}
.img_frame {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 0px;
    background: #fb6504;
    position: relative;
    border-radius: 50%;
    float: left;
}
.inner_box_frame h3, .inner_box_frame h3 a {
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 2px;
    margin-bottom: 1px;
    font-weight: 800;
    color: #a97300;
    text-transform: uppercase;
    font-size: 25px !important;
    line-height: 27px;
}
