body
{
 	font-family: courier;  	
}  

@media print 
{

body
{
 	font-family: courier;	    
} 
@page 
{  
	size:8.3in 11.7in;
}
.header_split_1
{
    height: 130px;
    width: 50% !important;
}
.header_split_2
{
    height: 130px;
    width: 25% !important;
}
.header_split_3
{
    height: 130px;
    width: 25% !important;
}
.rec_sign
{
	width: 25% !important;
}
.auth_sign
{
	width: 25% !important;
}
.rules
{
	width: 50% !important;
}
.header_split_inner h3
{
    color: #f388a7 !important;
}
.foot_single h4
{
	color: #f388a7 !important;
}
.widget-header
{
	display: none !important;
}
.frame_split
{
	display: none !important;
}
.view_img_admin
{
	width: 300px !important;
}
.customer_detail_print
{
	display: none !important;
}
.btn_to_right
{
	display: none !important;
}
.for_print
{
	display: block;
	text-align: center;
    margin-top: 12px;
}
.print_edit_img
{
	width: 100px !important;
}
.for_print h1
{
	margin-top: 8px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 25px;
    font-weight: 600;
}
.footer-content
{
	display: none !important;
}



}

@page {  size:8.3in 11.7in;}

  
.rptcontainer
{
    width: 8.3in;
    height: 5.75in;     
    margin: 0 auto; 
    background: #fff;
    padding: 10px;
}

.print_outer_frame
{
	display: inline-block;
    width: 100%;
}
.print_inner_frame
{
	display: inline-block;
    width: 100%;
    border: 1px solid #333
}
.print_outer_frame
{
	display: inline-block;
    width: 100%;
}
.header_split_1
{
    height: 130px;
    border-bottom: 1px solid #333;
}
.header_split_2
{
    height: 130px;
    border-bottom: 1px solid #333;
    padding: 0px;
}
.header_split_3
{
    height: 130px;
    border-bottom: 1px solid #333;
    padding: 0px;
}
.header_split_inner h3
{
	font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif !important;
    color: #f388a7;
}
.header_split_inner h5
{
	font-family: 'Montserrat', sans-serif !important;
    font-size: 12.5px;
    line-height: 19px;
    margin-bottom: 0px;
    font-weight: 500;
}
.header_split_inner h4
{
	font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 12px;
    font-family: 'Montserrat', sans-serif !important;
}
.print_table
{
	border-bottom: 1px solid #333 !important;
	margin-bottom: 0px;
}
.print_table thead tr th
{
	font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important;
    font-size: 12.5px !important;
    text-align: left;
    vertical-align: middle !important;
}
.print_table thead
{
	border-bottom: 1px solid #333 !important;
}
.print_table tbody tr td
{
	font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important;
    font-size: 12.5px !important;
    text-align: left;
    vertical-align: middle !important;
}
.foot_single h5
{
	font-size: 12.5px;
    text-align: center;
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
}
.rs
{
	 margin-top: 84px !important;
}
.rules
{
	padding: 15px 0px;
}
.rules ol
{
	margin-top: 3px;
    margin-bottom: 0px;
}
.rules ol li
{
	font-size: 9px;
    line-height: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 1px;
}
.copy_to
{
	margin-bottom: 0px;
    text-align: right;
    font-size: 11.5px;
    font-family: monospace;
    font-weight: 500;
    margin-right: 2px;
    font-family: 'Montserrat', sans-serif !important;
}
.foot_single h4
{
	font-size: 13.5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
    text-transform: uppercase;
    color: #f388a7;
}
.foot_single
{
	min-height: 108px;
}
.generate
{
	text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bill_logo
{
	width: 115px;
    float: left;
    margin-top: 7px;
    margin-left: -15px;
    margin-right: 25px;
}
.bill_cake_img
{
	width: 100px;
    float: left;
}

